<div id="intro" class="fixed inset-0 z-[9999] hidden bg-black">
  <video
    id="introVideo"
    playsinline
    preload="auto"
    class="absolute inset-0 h-full w-full object-cover"
  >
    <source src="/intro.webm" type="video/webm" />
  </video>
</div>

<script>
  document.body.style.overflow = "hidden";
</script>
