---
import Sidebar from "@/components/Sidebar";
import "../styles/global.css";
import Topbar from "@/components/Topbar";
import BottomNavigation from "@/components/BottomNavigation";
import BackgroundImage from "../assets/background-image.svg";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>Tigaraksa NSC 2026</title>
  </head>
  <body>
    <div
      id="scroll-container"
      class="lg:mt-0 h-screen snap-y snap-mandatory overflow-y-scroll relative"
    >
      <img
        src={BackgroundImage.src}
        alt="background-image"
        class="fixed h-screen w-full -z-50 opacity-10 object-cover"
      />

      <BottomNavigation client:load />
      <slot />
    </div>
  </body>
</html>
